# Connecting to SQL databases using Python

As Machine Learning experts and depending on how the information is arranged, we will probably have to interact with SQL databases. It is a very common flow to ingest data in Python through SQL or non-relational databases and use Python to analyze it, graph it, define it and ultimately build a predictive model. 

Some of the most commonly used SQL databases are SQLite, PostgreSQL and MySQL. SQLite is the best alternative when we want a portable database, without having to use a separate server to run it. It is ideal for embedded applications. If we want something more scalable in the future and a database in distributed applications, then MySQL is a good choice, while PostgreSQL is an opportune database for complex applications and is used in most enterprise solutions.

![comparative_sql.png](https://github.com/4GeeksAcademy/machine-learning-content/blob/master/assets/comparative_sql.png?raw=true)

In this lesson we will see how Python and some SQL databases interact. Why should we care about connecting Python and a SQL database? Perhaps, as Machine Learning experts, we need to build an automated ETL pipeline. Connecting Python to a SQL database will allow us to use Python for its automation capabilities. We will also be able to communicate between different data sources. We won't have to switch between different programming languages, we will be able to use our Python skills to manipulate data from an SQL database. We won't need a CSV file.

### SQLite connection

Python has its own wrapper to make a connection to a SQLite database. Also this package comes installed in the base version and you don't need to install anything to start using it. Because the database is simple, so is its code:

In [ ]:
import sqlite3

# A database named "test.db" is generated in the current directory
con = sqlite3.connect("test.db")

### CREATE: Generate an empty database with 5 variables: ID, NAME, AGE, ADDRESS and SALARY
con.execute("""CREATE TABLE COMPANY
    (ID INT PRIMARY KEY     NOT NULL,
     NAME           TEXT    NOT NULL,
     AGE            INT     NOT NULL,
     ADDRESS        CHAR(50),
     SALARY         REAL)""")

### INSERT: Insert a record into the database
con.execute("""INSERT INTO COMPANY
    VALUES (1, 'Richard', 40, 'Spain', 20000.00)""")

con.execute("""INSERT INTO COMPANY
    VALUES (2, 'Óscar', 25, 'France', 15000.00)""")
con.commit()

### SELECT: Filter from database values
#  The cursor allows you to define a set of results
cursor = con.execute("SELECT * from COMPANY")
for row in cursor: # Itera por todas las filas del filtro resultante
    print(f"ID = {row[0]} NAME = {row[1]} ADDRESS = {row[2]} SALARY = {row[3}]}")

# The results can also be stored in a DataFrame using Pandas
import pandas as pd
cursor_df = pd.read_sql_query("SELECT * FROM COMPANY", con)

### UPDATE: Update a database record
con.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
con.commit()

### DELETE: Delete one or more records from the database
con.execute("DELETE from COMPANY where ID = 2")
con.commit()

### Terminate database connection
con.close()

As you can see, this package provides a very friendly interface to create a portable and easy to use database. With just two statements, `con.execute()` and `con.commit()` we can do almost everything we need to interact with it. In contrast to `SQLAlchemy`, here it is necessary to know SQL syntax.

### Connecting to MySQL

As a primary language to analyze data, `Python` also has its own wrapper to make a connection to a MySQL database, `PyMySQL`. Since it is a proprietary database, it requires prior installation on a server or operating system and its instantiation to be able to close the connection and be able to use it.

#### Connection to the database

MySQL itself will allow us to create a database by simply clicking on a button and entering a name. This database can then be referenced when establishing the connection. If we wish to use Python to create a database, we would simply omit the parameter in the call, as we will see below.

##### 1. Table already created previously

In this case we enter the information as follows to establish the connection.

In [ ]:
import pymysql

con = pymysql.connect(host = "localhost",
    user = "root", 
    password = "pass",
    db = "COMPANY", # Name of the table if we have created it before
)

##### 2. Table not created

In this case we simply remove the `db` argument from the call and execute the creation statement, detailing the columns and their characteristics. To do this we use the `cur.execute()` statement (this package requires a cursor to be defined for each call) and then select it with `con.select_db()`:

In [ ]:
con = pymysql.connect(host = "localhost",
    user = "root", 
    password = "pass"
)
cur = con.cursor()

cur.execute("""CREATE TABLE COMPANY
    (ID INT PRIMARY KEY     NOT NULL,
     NAME           TEXT    NOT NULL,
     AGE            INT     NOT NULL,
     ADDRESS        CHAR(50),
     SALARY         REAL)""")

con.select_db("COMPANY")

#### Using the database

The execution of the statements that we already know about the database is the same as in the case of SQLite, with the `cur.execute()` and `con.commit()` functions, but with the difference that the execution is done with the cursor and not with the connection itself.

In [ ]:
### INSERT: Insert a record into the database
cur.execute("""INSERT INTO COMPANY
    VALUES (1, 'Richard', 40, 'Spain', 20000.00)""")

cur.execute("""INSERT INTO COMPANY
    VALUES (2, 'Óscar', 25, 'France', 15000.00)""")
con.commit()

### SELECT: Filter from database values
cur.execute("SELECT * from COMPANY")
rows = cur.fetchall()
for row in rows: # Itera por todas las filas del filtro resultante
    print(f"ID = {row[0]} NAME = {row[1]} ADDRESS = {row[2]} SALARY = {row[3]}")

# También se pueden almacenar los resultados en un DataFrame usando Pandas
import pandas as pd
cursor_df = pd.read_sql("SELECT * FROM COMPANY", con)

### UPDATE: Update a database record
cur.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
con.commit()

### DELETE: Delete one or more records from the database
cur.execute("DELETE from COMPANY where ID = 2")
con.commit()

### Terminate database connection
cur.close()
con.close()

### Connecting to PostgreSQL

As a third alternative, to connect to PostgreSQL using `Python` there is also a library, `Psycopg2`. It is the most known and used wrapper although there are others as well. This package keeps the essence of PyMySQL statements, requiring for its use the connection and cursor objects. The connection is also very simple and we can either create a database with Python or connect directly to it through the package.

#### Database connection

PostgreSQL itself will allow us to create a database by simply clicking a button and entering a name. This database can then be referenced when establishing the connection. If we wish to use Python to create a database, we would simply omit the parameter in the call, as we will see below.

##### 1. Table already created previously

In this case we enter the information as follows to establish the connection.

In [ ]:
import psycopg2

con = psycopg2.connect(host = "localhost",
    user = "root", 
    password = "pass",
    database = "COMPANY", # Name of the table if we have created it before
)

##### 2. Table not created

In this case we simply remove the `database` argument from the call and execute the creation statement, detailing the columns and their characteristics. For this we use the `cur.execute()` and `con.commit()` statements:

In [ ]:
con = psycopg2.connect(host = "localhost",
    user = "root", 
    password = "pass"
)
cur = con.cursor()

cur.execute("""CREATE TABLE COMPANY
    (ID INT PRIMARY KEY     NOT NULL,
     NAME           TEXT    NOT NULL,
     AGE            INT     NOT NULL,
     ADDRESS        CHAR(50),
     SALARY         REAL)""")
con.commit()

#### Using the database

The execution of the sentences that we already know about the database is the same as in the case of MySQL, with the `cur.execute()` and `con.commit()` functions, but with the difference that the execution is done with the cursor and not with the connection itself.

In [ ]:
### INSERT: Insert a record into the database
cur.execute("""INSERT INTO COMPANY
    VALUES (1, 'Richard', 40, 'Spain', 20000.00)""")

cur.execute("""INSERT INTO COMPANY
    VALUES (2, 'Óscar', 25, 'France', 15000.00)""")
con.commit()

### SELECT: Filter from database values
cur.execute("SELECT * from COMPANY")
rows = cur.fetchall()
for row in rows: # Itera por todas las filas del filtro resultante
    print(f"ID = {row[0]} NAME = {row[1]} ADDRESS = {row[2]} SALARY = {row[3]}")
con.commit()

# También se pueden almacenar los resultados en un DataFrame usando Pandas
import pandas as pd
cursor_df = pd.read_sql("SELECT * FROM COMPANY", con)

### UPDATE: Update a database record
cur.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 1")
con.commit()

### DELETE: Delete one or more records from the database
cur.execute("DELETE from COMPANY where ID = 2")
con.commit()

### Terminate database connection
cur.close()
con.close()

Although in this lesson we have exemplified the code for the three packages, it is remarkable that the syntax is practically the same, especially in the case of `PyMySQL` and `Psycopg2`. These codes will serve as a guide to quickly learn how to interact with the most used relational databases in the world of data analysis.